<div class="container">
    <div class="row">
        <section class="col s12 margem">
            <p class="card-panel teal accent-3 pulse" *ngIf="mensagem">{{mensagem}}</p>
        </section>
        <section class="col s6 margem">
            <p>{{jogadores[0].name}} <a class="btn btn-small" [routerLink]="['/editar', jogadores[0].id]"><i class="material-icons">edit</i></a></p>
            <p>Vida: {{jogadores[0].life}}%</p>
            <button class="btn btn-large red" (click)='atacar(jogadores[1].id)' [disabled]="fim">Atacar</button>
        </section>
        <section class="col s6 margem">
            <p>{{jogadores[1].name}} <a class="btn btn-small" [routerLink]="['/editar', jogadores[1].id]"><i class="material-icons">edit</i></a></p>
            <p>Vida: {{jogadores[1].life}}%</p>
            <button class="btn btn-large red" (click)='atacar(jogadores[0].id)' [disabled]="fim">Atacar</button>
        </section>
        <section class="col s12">
            <button class="btn btn-large green" (click)='reiniciar()'>Reiniciar</button>
        </section>
    </div>
</div>
